*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.SpeakContainer{
    background-image: url("bg2.svg");
    object-fit: cover;
    width: 100%;
}
.SpeakerInnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #ffffff;
    font-weight: 900;
}
.Sheading{
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.18);
    padding: 1.5rem;
    margin: 2rem;
    max-width: 55vw;
}