*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.accordWrapper{
    background-color: #000000;
    display: flex;
    max-height: auto;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
}
.accord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.item{
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 85vw;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.title{
    color:#ffffff ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}
.links{
    color: #ffffff;
}
.content{
    color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
    height: auto;
    padding: 1rem;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}