*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.Majboorhumein{
    background-image: url("../assets/Desktop-2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
}

.ContactTitle{
    margin: 0.5rem;
    padding-left: 3rem;
}

.ContactBox{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    padding: 1rem;
    margin: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    font-weight: 400;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
}

.ContactDesc{
    margin: 2rem;
    line-height: 1.75rem;
}
.ContactImage{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 2rem;
    border-radius: 1rem;
}

.ContactBox:hover{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.37);
}

@media screen and (max-width:900px){
    .ContactBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ContactTitle{
        font-size: xx-large;
    }
}