*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ContainCarousel{
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.crousal-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-out;
  margin-bottom: 2rem;
}
.crousal-image {
  display: flex;

  font-size: 0;
  gap: 0;
  transition: transform 0.5s ease-out;
}

.crousal-image img {
  background-position: center;
  border-radius: 1rem;
  background-size: cover;
  transition: transform 2s ease-out;
  object-fit: cover;
}

.crousal-btn {
  height: 3.5rem;
  width: 3.5rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #fff;
}

.corusal-heading {
  color: red;
  position: absolute;
  z-index: 100;
}


@media only screen and (max-width: 850) {
  .image-div {
    height: 40vh;
    width: 100wh;
  }

  .crousal-container {
    position: relative;
    width: 100vw;
    min-height: 40vh;
    max-height: 80%;
    overflow: hidden;
    transition: transform 1s ease-out;
  }

  .crousal-image img {
    height: 40vh;

    max-height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 2s ease-out;
  }
}