*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ContainCarousel{
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.crousal-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-out;
  margin-bottom: 2rem;
}
.crousal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0;
  gap: 0;
  transition: transform 0.5s ease-out;
}

.crousal-image img {
  width:1800px;
  height:750px;
  background-position: center;
  border-radius: 1rem;
  background-size: cover;
  transition: transform 2s ease-out;
  object-fit: cover;
}






.crousal-btn {
  height: 3.5rem;
  width: 3.5rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 18px;
  color: rgb(119, 119, 119);
  border: none;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.indicators {
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  width: 0.9rem;
  height: 0.9rem;
  background-color: rgb(119, 119, 119);
}

.corusal-heading {
  color: red;
  position: absolute;
  z-index: 100;
}


@media only screen and (max-width: 900) {
  .ContainCarousel{
    margin: 0 auto;
    height: 50vh;
    position: relative;
  }
  
  .crousal-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-out;
    margin-bottom: 2rem;
  }
  .crousal-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0;
    gap: 0;
    transition: transform 0.5s ease-out;
  }
  
  .crousal-image img {
    width:390px;
    height:150px;
    background-position: center;
    border-radius: 1rem;
    background-size: cover;
    transition: transform 2s ease-out;
    object-fit: cover;
  }
}