* {
  box-sizing: border-box;
}

.Footercontainer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);
  flex-wrap: wrap;
  padding: 2rem;
  color: white;
  gap: 1rem;
}
.footerLast {
  display: flex;
  justify-content: space-around;
  background-color: black;
  flex-wrap: wrap;
  padding: 1rem;
  color: white;
}






.FooterLogo{
  margin: 1rem;
}
.FooterLinks{
  text-decoration: inherit;
  font-size:medium;
  color: white;
  line-height: 1.25rem;
  text-align: center;
  margin: 2rem;
  font-weight: 900;
}

a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.leaflet-container {
  width: min(30rem, 90vw);
  height: 18rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 400px) {
  .leaflet-container {
    width: min(30rem, 90vw);
    height: 14rem;
    margin-top: 2rem;
  }
}
