.headercompo {
    
    position: fixed;
    height: 5rem;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.headercompo-bg{
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.headercompo .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.headercompo .nav-menu a {
    color: #ffffff;
}

.headercompo .nav-menu {
    display: flex;
}

.headercompo .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.headercompo .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
    display: none;
}

.Navlogo{
    color: #ffffff;
    font-weight: 900;
    font-size: 1.25rem;
}

@media screen and (max-width:940px) {
    .headercompo {
        width: 100vw;
        background-color: rgba(0,0,0,.9);
    }

    .headercompo .navbar {
        width: 100vw;
    }

    .hamburger {
        display: block;
        
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background-color:#ffffff;
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .headercompo .navbar img {
        width: 150px;
        
    }
}
